@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #87d7f5b7;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
                0px 5px 12px -2px rgba(0, 0, 0, 0.1),
                0px 18px 36px -6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

.container .title{
    padding: 25px;
    background: #f6f8fa;
}

.container .title p{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 155px;
    height: 3px;
    background: linear-gradient(to right, #87d7f5b7, #195871);
}

.details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

.details .inputbox{
    width: calc(100% / 2 - 20px);
    margin: 0 0 12px 0;
}

.inputbox label{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.inputbox label::after{
    content: " *";
    color: red;
}

.inputbox input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}


.inputbox input:focus,
.inputbox input:valid{
    box-shadow: 0px 0px 0px 2px #87d7f5b7;
}

form .gender{
    padding: 0px 25px;
}

.gender .gendertitle{
    font-size: 20px;
    font-weight: 500;
}

.gender .category{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.gender .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gender .category label .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}

#radio1:checked ~ .category label .one,
#radio2:checked ~ .category label .two,
#radio3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #095069b7;
}

.gender input{
    display: none;
}
.after{
    margin-top: 6%;
    font-size: 70%;
    font-style: italic;
}
.reg_btn{
padding: 25px;
margin: 15px 0;
}
.regbtn{
    height: 45px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #87d7f5b7, #227393);
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}


.regbtn:hover{
    background: linear-gradient(to right, #227393, #87d7f5b7);
    
}

@media screen and (max-width: 584px){

    .details{
        max-height: 340px;
        overflow-y: scroll;
    }

    .details::-webkit-scrollbar{
        width: 0;
    }

    .details .inputbox{
        width: 100%;
    }

    .gender .category{
        width: 100%;
    }

}


@media screen and (max-width: 419px){
    .gender .category{
        flex-direction: column;
    }   
}